<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Development</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
    <div class="jumbotron">
    <h1><%= title %></h1>
    <a href="/post/create">Add Post</a>
    <p><%= description %></p>
    <h2>Posts</h2>
     
    <ul>
        <% if (posts) { %>
            <!--  posts.forEach(function(post) { -->
         <% posts.forEach(post => { %>
          <a href="/post/<%= post.id %>">
            <li><%= post.title %> </li>
          </a>
         <% }) %>
        <% } %>
    </ul> 
    </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control"/>
            </div>
        </div>
    </div>
   
</body>
</html>